@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@1,500&display=swap');
h1{
font-size: 2.6rem;
}
li{
    font-size: 1.6rem;
}

/*header*/
.main-head{
    background-color: darkseagreen;
    color: aliceblue;

}
nav{
     min-height: 10vh;
     display: flex;
     align-items: center;
     margin: auto;
     width:90% ;
     flex-wrap: wrap;
}

nav ul{
    display: flex;
    flex: 1 1 10rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;  
    
}

@media screen and (max-width:885px){
    html{
        font-size: 75%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 2rem;
    }
} 

    

a{
    color: aliceblue;
    text-decoration: none;
}
#logo{
 flex: 1 1 40rem;   

}
   
body{
    font-family: 'Kanit', sans-serif;
    margin: 0%;
}
/*main*/
h2{
    color: aliceblue;
    font-size: 4rem;
}
.hero h3{
    color: rgb(194, 255, 235);
    padding: 1rem;
    text-align: center;
    font-weight: unset;
    font-size: 1.6rem;
}
.hero{
    display: flex;
    align-items: center;
    min-height: 90vh;
    background-image: linear-gradient(rgb(0,0,0,0.5), transparent), url("/style/image/image1.jpg");
    background-size: cover;
    background-position: bottom;
    align-items: center;
    flex-direction: column;    
}


.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn22 {
    background-image: linear-gradient(
      to right,
      #0ba360,
      #3cba92,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  }
/*styls de la section categories*/

.categories{
 margin: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin: auto;
    
}
.col-3 img{
    width: 100%;
}
.container h2{
    text-align: center;
    font-size: 1.8 rem;
    color:darkseagreen;
    margin: 50px 0; 


}
/*meilleur products*/
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;

}
.col-4 img{
    width: 100%;
}
.col-4 h3{
    font-family: 'Afacad', sans-serif;
    font-size: 2.0rem;
}
